.logo {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

body {
    align-items: center;
    margin: 3rem;
}

.searchSection {
    display: flex;
}

.searchField {
    display: flex;
    width: 100%;
}

.searchField *{
    background-color: rgb(227, 227, 227);
    border-radius: 6px;
    border: none;
    padding: 0 0.5rem;
}

.searchBar {
    width: 100%;
    padding: 0.7rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.searchField button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.tagsSection {
    display: grid;
    margin-top: 0.5rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    column-gap: 0.5rem;
}

.tagsSection form {
    display: flex;
    height: 2.5rem;
}

.tagsFilters *, .tagsFilters *::placeholder {
    border: none;
    padding: 0 0.5rem;
    color: white;
}

#ingColor,
#ingColor~* {
    background-color: #3075FB;
}

#appColor,
#appColor~* {
    background-color: #00E1A7;
}

#ustColor,
#ustColor~* {
    background-color: #FF5143;
}