:root {
    --ing: #3075FB;
    --app: #00E1A7;
    --ust: #FF5143;
}

.logo {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

body {
    align-items: center;
    margin: 3rem;
}

.searchSection {
    display: flex;
}

.searchField {
    display: flex;
    width: 100%;
}

.searchField *{
    background-color: rgb(227, 227, 227);
    border-radius: 6px;
    border: none;
    padding: 0 0.5rem;
}

.searchBar {
    width: 100%;
    padding: 0.7rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.searchField button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.tagsSection {
    display: grid;
    margin: 0.5rem 0;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
}

.tagsSection form {
    display: flex;
    height: 2.5rem;
}

.tagsFilters *, .tagsFilters *::placeholder {
    border: none;
    padding: 0 0.5rem;
    color: white;
}

#ingColor,
#ingColor~* {
    background-color: var(--ing);
}

#appColor,
#appColor~* {
    background-color: var(--app);
}

#ustColor,
#ustColor~* {
    background-color: var(--ust);
}

.index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1fr;
}

.resNode {
    border: 1px solid violet;
}