:root {
    --ing: #3075FB;
    --app: #00E1A7;
    --ust: #FF5143;
    --node-fig-bg: rgb(202, 189, 189);
    --node-body-bg: rgb(231, 231, 231);
}

.tagsApp {
    background-color: var(--app);
}

.tagsIng {
    background-color: var(--ing);
}

.tagsUst {
    background-color: var(--ust);
}

.logo {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

body {
    margin: 1rem 5rem;
}

.searchContainer {
    display: flex;
}

.searchForm {
    display: flex;
    width: 100%;
}

.searchForm * {
    background-color: rgb(227, 227, 227);
    border-radius: 6px;
    border: none;
    padding: 0 0.5rem;
}

.searchInput {
    width: 100%;
    padding: 0.7rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.searchInputSubmit {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.filterSelection {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    flex-wrap: wrap;
}

.filterSelection a {
    padding: 0.5rem;
    color: white;
    text-decoration: none;
}

.filterBox {
    display: grid;
    margin: 0.5rem 0;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
}

.filterBox input {
    border-radius: 10px 0 0 10px;
}

.filterform {
    display: flex;
}

.upperTagsGrid {
    display: flex;
    height: 2.5rem;
}

.upperTagsGrid button {
    border-radius: 0 10px 10px 0;
}
.upperTagsGrid button i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
}

.filterForm *,
.filterForm *::placeholder {
    border: none;
    color: white;
}

.tagsDrawer {
    display: none;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    border-radius: 10px;
    max-width: 40rem;
    position: absolute;
    z-index: 1;
}

.tagsDrawer > * {
    padding: 0.5rem;
    font-size: 20px;
    text-decoration: none;
}

#resultOut {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.resultNodeImg {
    height: 20vh;
    background-color: var(--node-fig-bg);
    margin: 0;
}

.resultNode,
.resultNodeInfo {
    background-color: var(--node-body-bg);
}

.resultNodeInfo {
    padding: 1rem;
    padding-top: 0.2rem;
    font-size: 11px;
}

.resultNodeHeader {
    display: flex;
    align-items: center;
    font-size: 1em;
    justify-content: space-between;
}

.resultNodeHeader * {
    font-weight: lighter;
}


.resultNodeBody {
    display: grid;
    align-items: center;
    gap: 0.7rem;
    grid-template-columns: repeat(2, 1fr);
    font-size: 10px;
}

.resultNodeComponents {
    align-self: start;
    font-size: 12px;
    justify-self: start;
}

.resultNodeComponents {
    list-style-type: none;
    padding: 0;
}

.resultNodeBody>p {
    align-self: start;
    justify-self: start;
    max-height: 20vh;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: 100%;
}